html {
  color: #fff;
}

body {
  font-size: 16px;
  color: #333;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

.page-wrapper {
  background-color: #f4ffd6;
  margin: 0 auto;
  padding: 0px;
  max-width: 960px;
  min-height: 600px;
}

.first,
.second {
  padding: 20px;
}

.menu {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #417b8d;
  margin-bottom: 40px;
}

.menu li a {
  display: block;
  cursor: pointer;
  padding: 8px 40px;
  background-color: #417b8d;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #4c90a5;
}

.menu-item {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  list-style: none;
  text-align: center;
}

.sub-menu {
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: -40px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
  list-style: none;
}

.tab {
  display: inline-block;
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  box-sizing: border-box;
}

.tab:hover {
  background-color: #417b8d;
}

.tab.whiteborder {
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabcontent {
  width: calc(100% - 40px);
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ddd;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.tabcontent.hide {
  display: none;
}

.tabcontent.show {
  display: block;
}

button {
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  background-color: #417b8d;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #498a9e;
}

button:active {
  background-color: #396c7c;
  outline: none;
}

.modal {
  display: none;
  position: relative;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  max-width: 40%;
  max-height: 70%;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close {
  display: inline-block;
  position: absolute;
  padding: 5px 7px;
  font-size: 30px;
  background-color: #fff;
  border-radius: 14px;
  line-height: 1em;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.third {
  border-top: 1px solid #417b8d;
  border-bottom: 1px solid #417b8d;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.wrapper {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #5299af;
}

.move {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 50px;
  height: 50px;
  transition: all 2s ease-in;
}

.carousel {
  padding: 20px;
}

.slideshow {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.slideshow button {
  position: absolute;
  border-radius: 0;
  background-color: transparent;
  height: calc(100%);
  width: 30%;
  font-size: 50px;
  opacity: 0.5;
}

.slideshow button:hover {
  font-size: 54px;
  color: #b0f3ff;
}

.slideshow__prev {
  top: 0;
  left: 0;
  text-align: left;
}

.slideshow__next {
  top: 0;
  right: 0;
  text-align: right;
}

.slideshow-dots {
  text-align: center;
}

.slideshow-dots__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #417b8d;
  cursor: pointer;
}

.slideshow-dots__item:hover, .slideshow-dots__item.active {
  background-color: #294d59;
}

.slideshow-dots__item:not(:last-of-type) {
  margin-right: 10px;
}

.slide {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.slide__img {
  width: 100%;
  margin-bottom: 20px;
}

.slide__text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.filter {
  padding: 20px;
}

.filter form {
  width: calc(100% - 20px);
  margin: 0;
  margin-bottom: 12px;
}

.myinput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  border: 1px solid #ddd;
}

.mylist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mylist .header {
  background-color: #bbbbbb;
}

.mylist a {
  display: block;
  width: 100%;
  text-decoration: none;
  border: 1px solid #ddd;
  font-size: 18px;
  cursor: default;
}

.mylist a:hover:not(.header) {
  background-color: #d6d6d6;
}
/*# sourceMappingURL=style.css.map */