$accent-blue: rgb(65, 123, 141);

html {
    color: #fff;
}

body {
    font-size: 16px;
    color: #333;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

.page-wrapper {
    background-color: rgb(244, 255, 214);
    margin: 0 auto;
    padding: 0px;
    // display: flex;
    // justify-content: center;
    max-width: 960px;
    min-height: 600px;
}

section {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.menu {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $accent-blue;
    margin-bottom: 40px;

    li {
        a {
            display: block;
            cursor: pointer;
            padding: 8px 40px;
            background-color: $accent-blue;
            color: #fff;
            text-decoration: none;

            &:hover {
                background-color: lighten($accent-blue, 7%);
            }
        }

    }
}

.menu-item {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    list-style: none;
    text-align: center;
}

.sub-menu {
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: -40px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
    list-style: none;
}

//---------------------------ТАБЫ-----------------------------------

.tab {
    display: inline-block;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background-color: $accent-blue;
    }

    &.whiteborder {
        border: 1px solid #ccc;
        border-bottom: none;
    }
}

.tabcontent {
    // display: block;
    width: calc(100% - 40px);
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ddd;
    padding: 20px;
    border-radius: 0 0 5px 5px;

    &.hide {
        display: none;
    }

    &.show {
        display: block;
    }

}

button {
    border: none;
    color: #ffffff;
    font-size: 18px;
    // font-weight: bold;
    border-radius: 10px;
    background-color: $accent-blue;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: lighten($accent-blue, 5%);
    }

    &:active {
        background-color: darken($accent-blue, 5%);
        outline: none;
    }
}

//---------------------------МОДАЛЬНОЕ ОКНО-----------------------------------

.modal {
    display: none;
    position: relative;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &__content {
        max-width: 40%;
        max-height: 70%;
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        // border: 1px solid rgb(187, 187, 187);
        box-shadow: 0 0 20px #000;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.close {
    display: inline-block;
    position: absolute;
    padding: 5px 7px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 14px;
    line-height: 1em;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

//---------------------------СЛАЙДЕР-КАРУСЕЛЬ-----------------------------------

.third {
    border-top: 1px solid $accent-blue;
    border-bottom: 1px solid $accent-blue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.wrapper {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: lighten($accent-blue, 10%);
    box-shadow: 0 0 40px rgb(151, 151, 151);
}

.move {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 50px;
    height: 50px;
    transition: all 2s ease-in;
}

.carousel {
    padding: 20px;
}

.slideshow {
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    button {
        position: absolute;
        border-radius: 0;
        background-color: transparent;
        height: calc(100%);
        width: 30%;
        font-size: 50px;
        opacity: 0.5;

        &:hover {
            font-size: 54px;
            color: rgb(176, 243, 255);
        }
    }

    &__prev {
        top: 0;
        left: 0;
        text-align: left;
    }

    &__next {
        top: 0;
        right: 0;
        text-align: right;
    }

    &-dots {
        text-align: center;

        &__item {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $accent-blue;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: darken($accent-blue, 15%);
            }

            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}

.slide {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    &__img {
        width: 100%;
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.fade {
        animation: fade 1.5s;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

//---------------------------ФИЛЬТРУЮЩИЙСЯ СПИСОК-----------------------------------

.filter {
    padding: 20px;

    form {
        width: calc(100% - 20px);
        margin: 0;
        margin-bottom: 12px;
    }
}

.myinput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 5px;
    border: 1px solid #ddd;
}

.mylist {
    list-style: none;
    padding: 0;
    margin: 0;

    .header {
        background-color: rgb(187, 187, 187);
    }

    a {
        display: block;
        width: 100%;
        text-decoration: none;
        border: 1px solid #ddd;
        font-size: 18px;
        cursor: default;

        &:hover:not(.header) {
            background-color: rgb(214, 214, 214);
        }
    }
}

//---------------------------КАЛЬКУЛЯТОР-----------------------------------

.calc {
    padding: 20px;
    text-align: center;
}

.calc-form {
    display: inline-block;
    box-shadow: 0 0 40px rgb(151, 151, 151);
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 204, 181);
    width: 300px;
    padding: 20px;

    &__label {
        display: inline-block;
        width: 30%;
    }

    &__input {
        display: inline-block;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        width: calc(45% - 20px);
        margin-bottom: 20px;
    }

    button {
        display: inline-block;
        padding: 11px 5px;
        margin: 0;
        margin-right: 10px;
        font-size: 30px;
        width: calc(25% - 16px);
    }

}

//---------------------------РАБОТА С API GOOGLE MAPS--------------------------------------

.map-section {
    padding: 20px;
    width: 100%;
}

#map {
    width: calc(100% - 40px);
    height: 400px;
}

//---------------------------МОДАЛЬНЫЕ КАРТИНКИ--------------------------------------

.modal-img1 {
    width: 200px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        opacity: 0.7;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;

        &:hover {
            color: #bbbbbb;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__content {
        display: block;
        margin: 80px auto 16px;
        width: 80%;
        max-width: 700px;
    }

    &__descr {
        margin: 0 auto;
        width: 80%;
        height: 150px;
        max-width: 700px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        width: 100%;
    }

    &__content,
    &__descr {
        animation: zoom 0.6s;
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 700px) {
    .modal__content {
        width: 100%;
    }
}

//-------------------------ПРОГРЕСС-БАР----------------------------------------

.myprogress {
    position: relative;
    width: 150px;
    height: 30px;
    background-color: #ddd;

    &__bar {
        position: absolute;
        width: 10%;
        height: 100%;
        background-color: #4caf50;
    }

    &__label {
        text-align: center;
        line-height: 30px;
        color: #fff;
    }
}

//---------------------------------POPUP-----------------------------------------

.popup {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 50px;
    background-color: rgb(228, 65, 65);
    color: #ffffff;
    cursor: pointer;

    &__text {
        display: block;
        overflow: hidden;
        position: absolute;
        visibility: hidden;
        z-index: 1;
        width: 160px;
        height: 40px;
        background-color: #555;
        text-align: center;
        padding: 8px 0;
        top: 0;
        left: 0;
        border-radius: 5px;
        margin-left: 80px;
        bottom: 125%;
        left: 50%;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            background-color: #555;
            top: 100%;
            left: 50%;
        }

        &.show {
            visibility: visible;
            animation: fadeIn 1s;
        }

    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//--------------------------15.ACCORDION--------------------------------

.accordion_button {
    margin: 0;
    width: 100%;
    background-color: #eee;
    border-radius: 0;
    color: #444;
    padding: 18px;
    text-align-last: left;
    border: none;
    // outline: none;
    transition: 0.2s;

    &.active,
    &:hover {
        background-color: #ddd;
    }
}

.panel {
    padding: 0 18px;
    background-color: #ffffff;
    display: none;

    &.show {
        display: block;
        animation: acc 2s;
    }
}

@keyframes acc {
    0% {
        height: 0%;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        height: 50%;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

//----------------------------17. TODO Application---------------------------------