html {
    color: #fff;
}

body {
    font-size: 16px;
    color: #333;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

.page-wrapper {
    background-color: rgb(244, 255, 214);
    margin: 0 auto;
    padding: 0px;
    // display: flex;
    // justify-content: center;
    max-width: 960px;
    min-height: 600px;
}

.first,
.second {
    padding: 20px;
}

.menu {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(145, 224, 248);
    margin-bottom: 40px;

    li {
        a {
            display: block;
            cursor: pointer;
            padding: 8px 40px;
            background-color: rgb(145, 224, 248);
            color: #666;
            text-decoration: none;

            &:hover {
                background-color: lighten(rgb(145, 224, 248), 7%);
            }
        }

    }
}

.menu-item {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    list-style: none;
    text-align: center;
}

.sub-menu {
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: -40px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
    list-style: none;
}

//---------------------------ТАБЫ-----------------------------------

.tab {
    display: inline-block;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background-color: rgb(163, 163, 163);
    }

    &.whiteborder {
        border: 1px solid #ccc;
        border-bottom: none;
    }
}

.tabcontent {
    // display: block;
    width: calc(100% - 40px);
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ddd;
    padding: 20px;
    border-radius: 0 0 5px 5px;

    &.hide {
        display: none;
    }

    &.show {
        display: block;
    }

}

button {
    border: none;
    color: #ffffff;
    font-size: 18px;
    // font-weight: bold;
    border-radius: 10px;
    background-color: rgb(32, 126, 155);
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: lighten(rgb(32, 126, 155), 5%);
    }

    &:active {
        background-color: darken(rgb(32, 126, 155), 5%);
        outline: none;
    }
}


.modal {
    display: block;
    position: relative;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
    &__content {
        max-width: 40%;
        max-height: 70%;
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        // border: 1px solid rgb(187, 187, 187);
        box-shadow: 0 0 20px #000;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.close {
    display: block;
    position: absolute;
    padding: 5px 7px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 14px;
    line-height: 1em;
    top: 50px;
    right: 50px;
    cursor: pointer;
}